html
head
title Form Tester
body
form(action="/", method="POST")
div
label(for="say") Say:
input(name="say" value="Hi")
br
label(for="to") To:
input(name="to" value="express forms")
br
button(type="Submit") Send my greetings

